* {
    margin: 0;
    padding: 0;
}
.header {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    padding-bottom: 100px;
}
h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 121px;
    color: #FFFFFF;
    padding: 100px 300px 0px;
}
#fetch-data {
    width: 30%;
    padding-top: 1%;
    padding-bottom: 1%;
}
